<!DOCTYPE html>
<html lang="en">
	
	<head>
		
	   <!-- meta -->
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- title -->
		<title>WarframeCompare</title>
		
		<!-- css -->
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
		
	</head>
	
	<body>
		
		<h2 id="logo">WarframeCompare <a href="/collect">collect</a></h2>
		
		<div id="filelist">
			<ul class="list-unstyled">
				<li>test</li>
			</ul>
		</div>
		
		<div class="wrapper">
			<form class="input-group" id="test" action="/" method="post">
				<input class="form-control" type="text" name="userName" placeholder="username">
				<span class="input-group-btn">
					<button id="test2" class="btn btn-secondary" type="submit">test</button>
				</span>   
			</form>
		</div>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		
	</body>
	
</html>