<!DOCTYPE html>
<html lang="en">
	
	<head>
		
	   <!-- meta -->
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- title -->
		<title>WarframeCompare</title>
		
		<!-- css -->
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
		
	</head>
	
	<body>

		<div class="wrapper">
			<form class="input-group" id="test" action="/select" method="post">
				{{data}}
				<button class="btn btn-secondary" type="submit">Compare</button>
			</form>
		</div>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		
	</body>
	
</html>