<!DOCTYPE html>
<html lang="en">
   
    <head>
       
        <!-- set charset and set scaling for responsiveness --> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
        
        <!-- title -->
        <title>Warframe - App.js</title>
        
        <!-- custom css + reset css -->
        
        <!-- jQuery import -->
        <script src="//cdn.jsdelivr.net/jquery/3.0.0-rc1/jquery.min.js"></script>
        
        <!-- custom jQuery import -->
        
    </head>
    
    <body>
    
        <div class="wrapper">
            <h2>test</h2>
            <p>{{data}}<p>
            <br><br><br><br><br>
            <br>
            <br>
            <br>
            <p>{{kata}}<p>
        </div>
    
    </body>
    
</html>